nav {
    height: 100%;
    width: 25%;
    background-color: #20232a;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 6em;
    animation: logo-spin infinite 20s linear;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.details {
    margin-left: 25%;
    text-align: justify;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
    padding: 0;
}

.menu-item {
    list-style-type: none;
    width: 100%;
    border-top: 1px solid #0d0e10;
}

.link {
    padding: 20px 0;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    overflow: hidden;
    color: #fff;
    background: none;
}

.link:hover {
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34;
}

.link:active {
    color: #61dafb;
}

pre {
    display: inline-block;
}
